/* GLOBAL STYLES */

/* Padding below the footer and lighter body text */
body {
    background-attachment: fixed;
    padding-bottom: 40px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: medium;
}
ul.nav-pills {
    top: 20px;
    position: fixed;
    border-radius: unset;
}
@media screen and (min-width: 500px) {
  .nav li {
    display: block;
  }
}
@media screen and (min-width: 0px) and (max-width: 501px) {
  .nav li {
    display: none;
  }
}
@media screen and (max-width: 810px) {
  #section1, #section2, #section3, #section41, #section42  {
    margin-left: 10px;
  }
}
h2.leftgreen {
  border-left: 4px solid #4056a1;
  padding-left: 2%;
}
div.pdspam{
  border: unset;
}

